<%= stylesheet_link_tag 'new', :media => "all" %>

<div class="shin">
    <h2>新規投稿ページ</h2>
    <br>
    <h4>about には教室についての<br>追加情報の内容を記述してください。<br>（例）授業変更で空き教室ではなくなりました。</h4>
    <br>
    <%= form_for @post do |f| %>
    
        <div class="field">
            <%= f.label :time  %>
            <%= f.select :time, 
            [["月 1限", "月 1限"],
            ["月 2限", "月 2限"], 
            ["月 3限", "月 3限"],
            ["月 4限", "月 4限"],
            ["月 5限", "月 5限"],
            ["火 1限", "火 1限"], 
            ["火 2限", "火 2限"],
            ["火 3限", "火 3限"],
            ["火 4限", "火 4限"],
            ["火 5限", "火 5限"],
            ["水 1限", "水 1限"],
            ["水 2限", "水 2限"],
            ["水 3限", "水 3限"],
            ["水 4限", "水 4限"],
            ["水 5限", "水 5限"],
            ["木 1限", "木 1限"],       
            ["木 2限", "木 2限"],
            ["木 3限", "木 3限"],
            ["木 4限", "木 4限"],
            ["木 5限", "木 5限"], 
            ["金 1限", "金 1限"], 
            ["金 2限", "金 2限"],
            ["金 3限", "金 3限"],
            ["金 4限", "金 4限"],
            ["金 5限", "金 5限"],
            ["土 1限", "土 1限"],
            ["土 2限", "土 2限"],
            ["土 3限", "土 3限"],
            ["土 4限", "土 4限"],
            ["土 5限", "土 5限"]], include_blank: "選択して下さい" %>
        <div>

        <div class="field">
            <%= f.label :room %>
            <%= f.text_field :room, :size => 30 %>
        </div>

        <div class="field">
            <%= f.label :about  %>
            <%= f.text_area :about, :size => "30x2" %>
        </div>

        <%= f.submit "投稿する" %>
    <% end %>

    <%= link_to "一覧に戻る", posts_path %>
</div>